# Aplicando em um problema de negócio:

Usando dados históricos de vendas de 2023, podemos prever vendas de Janeiro de 2024

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.holtwinters import SimpleExpSmoothing

In [6]:
#Carregando dados
df = pd.read_csv('dataset.csv')

In [7]:
df.shape

(365, 2)

In [8]:
df.columns

Index(['Data', 'Total_Vendas'], dtype='object')

In [11]:
df.head()

         Data  Total_Vendas
0  2023-01-01     53.483571
1  2023-01-02     57.176993
2  2023-01-03     63.087722
3  2023-01-04     62.103987
4  2023-01-05     44.690396

In [12]:
df.tail()

           Data  Total_Vendas
360  2023-12-27     74.935570
361  2023-12-28     71.374857
362  2023-12-29     57.806920
363  2023-12-30     62.340244
364  2023-12-31     71.650720

In [13]:
#Pré-processamento de dados

#valor minimo
df['Data'].min()

'2023-01-01'

In [14]:
#valor maximo
df['Data'].max()

'2023-12-31'

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Data          365 non-null    object
 1   Total_Vendas  365 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.8+ KB

In [20]:
#Converte a coluna Data para o tipo datetime
df['Data'] = pd.to_datetime(df['Data'])
df.head()

        Data  Total_Vendas
0 2023-01-01     53.483571
1 2023-01-02     57.176993
2 2023-01-03     63.087722
3 2023-01-04     62.103987
4 2023-01-05     44.690396

In [23]:
#Observa-se que houve coversao
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Data          365 non-null    datetime64[ns]
 1   Total_Vendas  365 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.8 KB

In [25]:
#Converte o dataframe em uma série temporal com a data como índice
serie_temporal = df.set_index('Data')['Total_Vendas']

In [26]:
type(serie_temporal)

pandas.core.series.Series

In [27]:
serie_temporal

Data
2023-01-01    53.483571
2023-01-02    57.176993
2023-01-03    63.087722
2023-01-04    62.103987
2023-01-05    44.690396
                ...
2023-12-27    74.935570
2023-12-28    71.374857
2023-12-29    57.806920
2023-12-30    62.340244
2023-12-31    71.650720
Name: Total_Vendas, Length: 365, dtype: float64

In [30]:
#Fornece a frequencia (vendas por dia) da serie temporal (diária, nesse caso)
serie_temporal = serie_temporal.asfreq('D')

In [29]:
serie_temporal

Data
2023-01-01    53.483571
2023-01-02    57.176993
2023-01-03    63.087722
2023-01-04    62.103987
2023-01-05    44.690396
                ...
2023-12-27    74.935570
2023-12-28    71.374857
2023-12-29    57.806920
2023-12-30    62.340244
2023-12-31    71.650720
Freq: D, Name: Total_Vendas, Length: 365, dtype: float64