In [3]:
#instale o pandas
# pip install pandas
import pandas as pd
pd.__version__

'1.5.3'

# Manipulando Em DataFrames do Pandas

In [4]:
#Criando um dicionário
dados = {'Estado':['Santa Catarina','Rio De Janeiro','Toantins','Bahia','Minas Gerais'], 
                   'Ano': [2004, 2005, 2006, 2007, 2008],
                    'Taxa De Desemprego': [1.5, 1.7, 1.6, 2.4, 2.7]}

In [5]:
#Importa a função DataFrames do Pandas
from pandas import DataFrame

In [6]:
#Converte Dicionário em um DataFrame
df = DataFrame(dados)

In [7]:
#vizualiza as primeiras 5 linhas:
df.head()

           Estado   Ano  Taxa De Desemprego
0  Santa Catarina  2004                 1.5
1  Rio De Janeiro  2005                 1.7
2        Toantins  2006                 1.6
3           Bahia  2007                 2.4
4    Minas Gerais  2008                 2.7

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
#Reorganizando Colunas
DataFrame(dados, columns = ['Estado', 'Taxa De Desemprego', 'Ano'])

           Estado  Taxa De Desemprego   Ano
0  Santa Catarina                 1.5  2004
1  Rio De Janeiro                 1.7  2005
2        Toantins                 1.6  2006
3           Bahia                 2.4  2007
4    Minas Gerais                 2.7  2008

In [10]:
#Acrescentando Nova Coluna e adicionando indices
df2 = DataFrame(dados, columns = ['Estado', 'Taxa De Desemprego', 'Taxa Crescimento', 'Ano'],
               index = ['estado1', 'estado2', 'estado3', 'estado4', 'estado5'])

In [11]:
df2

                 Estado  Taxa De Desemprego Taxa Crescimento   Ano
estado1  Santa Catarina                 1.5              NaN  2004
estado2  Rio De Janeiro                 1.7              NaN  2005
estado3        Toantins                 1.6              NaN  2006
estado4           Bahia                 2.4              NaN  2007
estado5    Minas Gerais                 2.7              NaN  2008

In [12]:
df2.columns

Index(['Estado', 'Taxa De Desemprego', 'Taxa Crescimento', 'Ano'], dtype='object')

In [13]:
df2.values

array([['Santa Catarina', 1.5, nan, 2004],
       ['Rio De Janeiro', 1.7, nan, 2005],
       ['Toantins', 1.6, nan, 2006],
       ['Bahia', 2.4, nan, 2007],
       ['Minas Gerais', 2.7, nan, 2008]], dtype=object)

In [14]:
df2['Estado']

estado1    Santa Catarina
estado2    Rio De Janeiro
estado3          Toantins
estado4             Bahia
estado5      Minas Gerais
Name: Estado, dtype: object

In [15]:
#Filtrando pelo indice retornando para eixo 0.
df2.filter(items = ['estado3'], axis = 0)

           Estado  Taxa De Desemprego Taxa Crescimento   Ano
estado3  Toantins                 1.6              NaN  2006

# Numpy e Pandas

In [16]:
df2.head()

                 Estado  Taxa De Desemprego Taxa Crescimento   Ano
estado1  Santa Catarina                 1.5              NaN  2004
estado2  Rio De Janeiro                 1.7              NaN  2005
estado3        Toantins                 1.6              NaN  2006
estado4           Bahia                 2.4              NaN  2007
estado5    Minas Gerais                 2.7              NaN  2008

In [17]:
#Metodo Describe faz resumo estatístico
df2.describe()

       Taxa De Desemprego          Ano
count            5.000000     5.000000
mean             1.980000  2006.000000
std              0.535724     1.581139
min              1.500000  2004.000000
25%              1.600000  2005.000000
50%              1.700000  2006.000000
75%              2.400000  2007.000000
max              2.700000  2008.000000

# Preenchendo Valores ausentes

In [18]:
#Carregando arquivo csv
dsa_df = pd.read_csv("dataset.csv")

In [19]:
#por padrão carrega os 5 primeiros, caso queira uma quantidade coloque dentro do parenteses
dsa_df.head()

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,United States,South,FUR-BO-10001798,Furniture,Bush Somerset Collection Bookcase,261.9600,NaN
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,United States,South,FUR-CH-10000454,Furniture,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,NaN
2,CA-2016-138688,2016-06-12,DV-13045,Corporate,United States,West,OFF-LA-10000240,Office Supplies,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0
3,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,FUR-TA-10000577,Furniture,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0
4,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,OFF-ST-10000760,Office Supplies,Eldon Fold 'N Roll Cart System,22.3680,2.0

In [20]:
#is na? verifica valores NaN
dsa_df.isna().sum()

ID_Pedido       0
Data_Pedido     0
ID_Cliente      0
Segmento        0
Pais            0
Regiao          0
ID_Produto      0
Categoria       0
Nome_Produto    0
Valor_Venda     0
Quantidade      2
dtype: int64

In [21]:
# Extraímos a moda da coluna Quantity 
moda = dsa_df['Quantidade'].value_counts () .index[0]
print(moda)

3.0

In [22]:
#fill nan : preencher valores ausentes
dsa_df['Quantidade'].fillna(value = moda, inplace = True)

In [23]:
dsa_df.isna().sum()

ID_Pedido       0
Data_Pedido     0
ID_Cliente      0
Segmento        0
Pais            0
Regiao          0
ID_Produto      0
Categoria       0
Nome_Produto    0
Valor_Venda     0
Quantidade      0
dtype: int64

# Query (Consulta) De Dados no DataFrame do Pandas

In [24]:
# Checamos os valores mínimo e máximo da coluna Valor_ Venda 
dsa_df.Valor_Venda.describe()

count     9994.000000
mean       229.858001
std        623.245101
min          0.444000
25%         17.280000
50%         54.490000
75%        209.940000
max      22638.480000
Name: Valor_Venda, dtype: float64

In [25]:
# Gerando um novo dataframe apenas com o intervalo de vendas entre 229 e 10000
df2 = dsa_df.query('229 < Valor_Venda < 10000')

In [26]:
df2.Valor_Venda.describe

<bound method NDFrame.describe of 0        261.9600
1        731.9400
3        957.5775
7        907.1520
10      1706.1840
          ...
9973     271.9600
9976     249.5840
9979     437.4720
9991     258.5760
9993     243.1600
Name: Valor_Venda, Length: 2357, dtype: float64>

In [27]:
# Gerando um novo dataframe apenas com os valores de venda acima da
df3 = df2.query('Valor_Venda > 766')

In [28]:
df3.head()

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
3,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,FUR-TA-10000577,Furniture,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0
7,CA-2014-115812,2014-06-09,BH-11710,Consumer,United States,West,TEC-PH-10002275,Technology,Mitel 5320 IP Phone VoIP phone,907.1520,6.0
10,CA-2014-115812,2014-06-09,BH-11710,Consumer,United States,West,FUR-TA-10001539,Furniture,Chromcraft Rectangular Conference Tables,1706.1840,9.0
11,CA-2014-115812,2014-06-09,BH-11710,Consumer,United States,West,TEC-PH-10002033,Technology,Konftel 250 Conference phone - Charcoal black,911.4240,4.0
24,CA-2015-106320,2015-09-25,EB-13870,Consumer,United States,West,FUR-TA-10000577,Furniture,Bretford CR4500 Series Slim Rectangular Table,1044.6300,3.0

# Operadores Lógicos Para Manipulação De Dados

In [33]:
# Filtrando as vendas que ocorreram para o segmento de Home Office e na região South
#Porta Lógica & (AND)
dsa_df[ (dsa_df.Segmento == 'Home Office') & (dsa_df.Regiao == 'South')].head()

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
182,CA-2014-158274,2014-11-19,RM-19675,Home Office,United States,South,TEC-PH-10003273,Technology,AT&T TR1909W,503.9600,4.0
183,CA-2014-158274,2014-11-19,RM-19675,Home Office,United States,South,TEC-PH-10004896,Technology,Nokia Lumia 521 (T-Mobile),149.9500,5.0
184,CA-2014-158274,2014-11-19,RM-19675,Home Office,United States,South,TEC-AC-10002345,Technology,HP Standard 104 key PS/2 Keyboard,29.0000,2.0
231,US-2017-100930,2017-04-07,CS-12400,Home Office,United States,South,FUR-TA-10001705,Furniture,Bush Advantage Collection Round Conference Table,233.8600,2.0
232,US-2017-100930,2017-04-07,CS-12400,Home Office,United States,South,FUR-TA-10003473,Furniture,Bretford Rectangular Conference Table Tops,620.6145,3.0

In [34]:
#diferente do head que mostra o inicio do dataframe, tail mostra o final
#Porta Lógica | (OR)
dsa_df[ (dsa_df.Segmento == 'Home Office') | (dsa_df.Regiao == 'South')].tail()

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
9979,US-2016-103674,2016-12-06,AP-10720,Home Office,United States,West,OFF-BI-10002026,Office Supplies,Ibico Recycled Linen-Style Covers,437.472,14.0
9980,US-2015-151435,2015-09-06,SW-20455,Consumer,United States,South,FUR-TA-10001029,Furniture,KI Adjustable-Height Table,85.980,1.0
9987,CA-2017-163629,2017-11-17,RA-19885,Corporate,United States,South,TEC-AC-10001539,Technology,Logitech G430 Surround Sound Gaming Headset wi...,79.990,1.0
9988,CA-2017-163629,2017-11-17,RA-19885,Corporate,United States,South,TEC-PH-10004006,Technology,Panasonic KX - TS880B Telephone,206.100,5.0
9989,CA-2014-110422,2014-01-21,TB-21400,Consumer,United States,South,FUR-FU-10001889,Furniture,Ultra Door Pull Handle,25.248,3.0

In [35]:
#Sample (amostra de 5 valores da tabela)
#Porta Lógica != (NOT)
dsa_df[ (dsa_df.Segmento != 'Home Office') & (dsa_df.Regiao != 'South')].sample(5)

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
9130,CA-2016-130911,2016-03-24,DC-12850,Consumer,United States,East,OFF-AR-10000475,Office Supplies,Hunt BOSTON Vista Battery-Operated Pencil Shar...,18.656,2.0
8146,US-2014-112949,2014-06-20,Co-12640,Consumer,United States,Central,OFF-AR-10003469,Office Supplies,Nontoxic Chalk,3.520,2.0
632,US-2016-135720,2016-12-11,FM-14380,Consumer,United States,West,TEC-PH-10002103,Technology,Jabra SPEAK 410,300.768,4.0
2939,US-2016-169040,2016-12-06,GT-14710,Consumer,United States,West,OFF-BI-10001658,Office Supplies,GBC Standard Therm-A-Bind Covers,59.808,3.0
4714,CA-2017-121643,2017-05-18,AB-10105,Consumer,United States,West,TEC-PH-10002200,Technology,Aastra 6757i CT Wireless VoIP phone,344.704,2.0