In [2]:
#instale o pandas
# pip install pandas
import pandas as pd
pd.__version__

'1.5.3'

# Manipulando Em DataFrames do Pandas

In [3]:
#Criando um dicionário
dados = {'Estado':['Santa Catarina','Rio De Janeiro','Toantins','Bahia','Minas Gerais'], 
                   'Ano': [2004, 2005, 2006, 2007, 2008],
                    'Taxa De Desemprego': [1.5, 1.7, 1.6, 2.4, 2.7]}

In [4]:
#Importa a função DataFrames do Pandas
from pandas import DataFrame

In [5]:
#Converte Dicionário em um DataFrame
df = DataFrame(dados)

In [6]:
#vizualiza as primeiras 5 linhas:
df.head()

           Estado   Ano  Taxa De Desemprego
0  Santa Catarina  2004                 1.5
1  Rio De Janeiro  2005                 1.7
2        Toantins  2006                 1.6
3           Bahia  2007                 2.4
4    Minas Gerais  2008                 2.7

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
#Reorganizando Colunas
DataFrame(dados, columns = ['Estado', 'Taxa De Desemprego', 'Ano'])

           Estado  Taxa De Desemprego   Ano
0  Santa Catarina                 1.5  2004
1  Rio De Janeiro                 1.7  2005
2        Toantins                 1.6  2006
3           Bahia                 2.4  2007
4    Minas Gerais                 2.7  2008

In [9]:
#Acrescentando Nova Coluna e adicionando indices
df2 = DataFrame(dados, columns = ['Estado', 'Taxa De Desemprego', 'Taxa Crescimento', 'Ano'],
               index = ['estado1', 'estado2', 'estado3', 'estado4', 'estado5'])

In [10]:
df2

                 Estado  Taxa De Desemprego Taxa Crescimento   Ano
estado1  Santa Catarina                 1.5              NaN  2004
estado2  Rio De Janeiro                 1.7              NaN  2005
estado3        Toantins                 1.6              NaN  2006
estado4           Bahia                 2.4              NaN  2007
estado5    Minas Gerais                 2.7              NaN  2008

In [11]:
df2.columns

Index(['Estado', 'Taxa De Desemprego', 'Taxa Crescimento', 'Ano'], dtype='object')

In [12]:
df2.values

array([['Santa Catarina', 1.5, nan, 2004],
       ['Rio De Janeiro', 1.7, nan, 2005],
       ['Toantins', 1.6, nan, 2006],
       ['Bahia', 2.4, nan, 2007],
       ['Minas Gerais', 2.7, nan, 2008]], dtype=object)

In [13]:
df2['Estado']

estado1    Santa Catarina
estado2    Rio De Janeiro
estado3          Toantins
estado4             Bahia
estado5      Minas Gerais
Name: Estado, dtype: object

In [14]:
#Filtrando pelo indice retornando para eixo 0.
df2.filter(items = ['estado3'], axis = 0)

           Estado  Taxa De Desemprego Taxa Crescimento   Ano
estado3  Toantins                 1.6              NaN  2006

# Numpy e Pandas

In [15]:
df2.head()

                 Estado  Taxa De Desemprego Taxa Crescimento   Ano
estado1  Santa Catarina                 1.5              NaN  2004
estado2  Rio De Janeiro                 1.7              NaN  2005
estado3        Toantins                 1.6              NaN  2006
estado4           Bahia                 2.4              NaN  2007
estado5    Minas Gerais                 2.7              NaN  2008

In [16]:
#Metodo Describe faz resumo estatístico
df2.describe()

       Taxa De Desemprego          Ano
count            5.000000     5.000000
mean             1.980000  2006.000000
std              0.535724     1.581139
min              1.500000  2004.000000
25%              1.600000  2005.000000
50%              1.700000  2006.000000
75%              2.400000  2007.000000
max              2.700000  2008.000000

# Preenchendo Valores ausentes

In [17]:
#Carregando arquivo csv
dsa_df = pd.read_csv("dataset.csv")

In [18]:
#por padrão carrega os 5 primeiros, caso queira uma quantidade coloque dentro do parenteses
dsa_df.head()

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,United States,South,FUR-BO-10001798,Furniture,Bush Somerset Collection Bookcase,261.9600,NaN
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,United States,South,FUR-CH-10000454,Furniture,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,NaN
2,CA-2016-138688,2016-06-12,DV-13045,Corporate,United States,West,OFF-LA-10000240,Office Supplies,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0
3,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,FUR-TA-10000577,Furniture,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0
4,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,OFF-ST-10000760,Office Supplies,Eldon Fold 'N Roll Cart System,22.3680,2.0

In [19]:
#is na? verifica valores NaN
dsa_df.isna().sum()

ID_Pedido       0
Data_Pedido     0
ID_Cliente      0
Segmento        0
Pais            0
Regiao          0
ID_Produto      0
Categoria       0
Nome_Produto    0
Valor_Venda     0
Quantidade      2
dtype: int64

In [20]:
# Extraímos a moda da coluna Quantity 
moda = dsa_df['Quantidade'].value_counts () .index[0]
print(moda)

3.0

In [21]:
#fill nan : preencher valores ausentes
dsa_df['Quantidade'].fillna(value = moda, inplace = True)

In [22]:
dsa_df.isna().sum()

ID_Pedido       0
Data_Pedido     0
ID_Cliente      0
Segmento        0
Pais            0
Regiao          0
ID_Produto      0
Categoria       0
Nome_Produto    0
Valor_Venda     0
Quantidade      0
dtype: int64

# Query (Consulta) De Dados no DataFrame do Pandas

In [23]:
# Checamos os valores mínimo e máximo da coluna Valor_ Venda 
dsa_df.Valor_Venda.describe()

count     9994.000000
mean       229.858001
std        623.245101
min          0.444000
25%         17.280000
50%         54.490000
75%        209.940000
max      22638.480000
Name: Valor_Venda, dtype: float64

In [24]:
# Gerando um novo dataframe apenas com o intervalo de vendas entre 229 e 10000
df2 = dsa_df.query('229 < Valor_Venda < 10000')

In [25]:
df2.Valor_Venda.describe

<bound method NDFrame.describe of 0        261.9600
1        731.9400
3        957.5775
7        907.1520
10      1706.1840
          ...
9973     271.9600
9976     249.5840
9979     437.4720
9991     258.5760
9993     243.1600
Name: Valor_Venda, Length: 2357, dtype: float64>

In [26]:
# Gerando um novo dataframe apenas com os valores de venda acima da
df3 = df2.query('Valor_Venda > 766')

In [27]:
df3.head()

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
3,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,FUR-TA-10000577,Furniture,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0
7,CA-2014-115812,2014-06-09,BH-11710,Consumer,United States,West,TEC-PH-10002275,Technology,Mitel 5320 IP Phone VoIP phone,907.1520,6.0
10,CA-2014-115812,2014-06-09,BH-11710,Consumer,United States,West,FUR-TA-10001539,Furniture,Chromcraft Rectangular Conference Tables,1706.1840,9.0
11,CA-2014-115812,2014-06-09,BH-11710,Consumer,United States,West,TEC-PH-10002033,Technology,Konftel 250 Conference phone - Charcoal black,911.4240,4.0
24,CA-2015-106320,2015-09-25,EB-13870,Consumer,United States,West,FUR-TA-10000577,Furniture,Bretford CR4500 Series Slim Rectangular Table,1044.6300,3.0

# Operadores Lógicos Para Manipulação De Dados

In [28]:
# Filtrando as vendas que ocorreram para o segmento de Home Office e na região South
#Porta Lógica & (AND)
dsa_df[ (dsa_df.Segmento == 'Home Office') & (dsa_df.Regiao == 'South')].head()

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
182,CA-2014-158274,2014-11-19,RM-19675,Home Office,United States,South,TEC-PH-10003273,Technology,AT&T TR1909W,503.9600,4.0
183,CA-2014-158274,2014-11-19,RM-19675,Home Office,United States,South,TEC-PH-10004896,Technology,Nokia Lumia 521 (T-Mobile),149.9500,5.0
184,CA-2014-158274,2014-11-19,RM-19675,Home Office,United States,South,TEC-AC-10002345,Technology,HP Standard 104 key PS/2 Keyboard,29.0000,2.0
231,US-2017-100930,2017-04-07,CS-12400,Home Office,United States,South,FUR-TA-10001705,Furniture,Bush Advantage Collection Round Conference Table,233.8600,2.0
232,US-2017-100930,2017-04-07,CS-12400,Home Office,United States,South,FUR-TA-10003473,Furniture,Bretford Rectangular Conference Table Tops,620.6145,3.0

In [29]:
#diferente do head que mostra o inicio do dataframe, tail mostra o final
#Porta Lógica | (OR)
dsa_df[ (dsa_df.Segmento == 'Home Office') | (dsa_df.Regiao == 'South')].tail()

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
9979,US-2016-103674,2016-12-06,AP-10720,Home Office,United States,West,OFF-BI-10002026,Office Supplies,Ibico Recycled Linen-Style Covers,437.472,14.0
9980,US-2015-151435,2015-09-06,SW-20455,Consumer,United States,South,FUR-TA-10001029,Furniture,KI Adjustable-Height Table,85.980,1.0
9987,CA-2017-163629,2017-11-17,RA-19885,Corporate,United States,South,TEC-AC-10001539,Technology,Logitech G430 Surround Sound Gaming Headset wi...,79.990,1.0
9988,CA-2017-163629,2017-11-17,RA-19885,Corporate,United States,South,TEC-PH-10004006,Technology,Panasonic KX - TS880B Telephone,206.100,5.0
9989,CA-2014-110422,2014-01-21,TB-21400,Consumer,United States,South,FUR-FU-10001889,Furniture,Ultra Door Pull Handle,25.248,3.0

In [30]:
#Sample (amostra de 5 valores da tabela)
#Porta Lógica != (NOT)
dsa_df[ (dsa_df.Segmento != 'Home Office') & (dsa_df.Regiao != 'South')].sample(5)

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
6786,CA-2017-121293,2017-07-25,JC-15775,Consumer,United States,East,OFF-PA-10004100,Office Supplies,Xerox 216,20.736,4.0
7302,CA-2014-163468,2014-11-18,JK-15730,Consumer,United States,Central,OFF-ST-10000025,Office Supplies,Fellowes Stor/Drawer Steel Plus Storage Drawers,381.720,5.0
8348,US-2015-115238,2015-04-30,JW-15220,Corporate,United States,East,TEC-PH-10001300,Technology,iKross Bluetooth Portable Keyboard + Cell Phon...,209.500,10.0
592,CA-2014-135405,2014-01-09,MS-17830,Consumer,United States,Central,OFF-AR-10004078,Office Supplies,Newell 312,9.344,2.0
5003,CA-2016-155033,2016-10-07,CC-12475,Consumer,United States,West,OFF-PA-10000143,Office Supplies,Astroparche Fine Business Paper,10.560,2.0

# Agrupamento

In [31]:
#Calculando a media separando por segmento e regiao
dsa_df[[ 'Segmento', 'Regiao', 'Valor_Venda' ]].groupby([ 'Segmento', 'Regiao' ]).mean()

                     Valor_Venda
Segmento    Regiao
Consumer    Central   207.946728
            East      238.875539
            South     233.390180
            West      217.033955
Corporate   Central   234.763466
            East      228.516929
            South     238.992025
            West      235.265911
Home Office Central   208.248046
            East      253.911805
            South     272.996329
            West      239.442692

In [32]:
#Calculo Da media, desvio e 
dsa_df[['Segmento', 'Regiao', 'Valor_Venda']].groupby(['Segmento', 'Regiao']).agg(['mean', 'std', 'count'])

                    Valor_Venda
                           mean          std count
Segmento    Regiao
Consumer    Central  207.946728   587.906523  1212
            East     238.875539   633.371169  1469
            South    233.390180   559.346824   838
            West     217.033955   551.997547  1672
Corporate   Central  234.763466   818.947521   673
            East     228.516929   530.001654   877
            South    238.992025   586.176947   510
            West     235.265911   471.288764   960
Home Office Central  208.248046   371.009180   438
            East     253.911805   722.777318   502
            South    272.996329  1404.798466   272
            West     239.442692   529.242737   571

In [36]:
# Filtramos o dataframe pela coluna Segmento com valores que iniciam com as letras 'Con'
dsa_df[dsa_df.Segmento.str.startswith('Con')].head( )

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,United States,South,FUR-BO-10001798,Furniture,Bush Somerset Collection Bookcase,261.9600,3.0
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,United States,South,FUR-CH-10000454,Furniture,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0
3,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,FUR-TA-10000577,Furniture,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0
4,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,OFF-ST-10000760,Office Supplies,Eldon Fold 'N Roll Cart System,22.3680,2.0
5,CA-2014-115812,2014-06-09,BH-11710,Consumer,United States,West,FUR-FU-10001487,Furniture,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7.0

In [37]:
# Filtramos o dataframe pela coluna Segmento com valores que terminam com as letras 'mer'
dsa_df[dsa_df.Segmento.str.endswith('mer')].head( )

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Regiao,ID_Produto,Categoria,Nome_Produto,Valor_Venda,Quantidade
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,United States,South,FUR-BO-10001798,Furniture,Bush Somerset Collection Bookcase,261.9600,3.0
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,United States,South,FUR-CH-10000454,Furniture,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0
3,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,FUR-TA-10000577,Furniture,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0
4,US-2015-108966,2015-10-11,SO-20335,Consumer,United States,South,OFF-ST-10000760,Office Supplies,Eldon Fold 'N Roll Cart System,22.3680,2.0
5,CA-2014-115812,2014-06-09,BH-11710,Consumer,United States,West,FUR-FU-10001487,Furniture,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7.0

In [39]:
dsa_df.Segmento.value_counts()

Consumer       5191
Corporate      3020
Home Office    1783
Name: Segmento, dtype: int64